body {
    background-color: #0b0b0b;
    color: #d1d1d1;
    font-family: 'Courier New', Courier, monospace; /* Стиль терміналу */
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 800px;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #b71c1c; /* Червоний акцент Limbus */
    letter-spacing: 5px;
}

input {
    width: 100%;
    padding: 15px;
    background: #1a1a1a;
    border: 1px solid #b71c1c;
    color: white;
    font-size: 1.2rem;
}

table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
}

/* Колірна логіка з твого плану */
.correct { background-color: #2e7d32; } /* Зелений - збіг */
.wrong { background-color: #c62828; }   /* Червоний - не збіг */